worker_processes {{ nginx_worker_processes }};

events {
    worker_connections 1024;
}

http {
    server {
        listen {{ nginx_port }};
        location / {
            root /var/www/html;
            index index.html;
        }
    }
}
